<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="V11 Automation Suite" verbose="2">
	<test name="Web Reservation">
		
		<parameter name="browser" value="firefox" />
		<parameter name="ProtalURL"	value="http://web.elb.qa.gateway.use1.aws.rezos.io/rezproduction/admin/common/LoginPage.do" />
		
		<classes>
			<class
				name="com.rezgateway.automation.TOReservatonFlow.HotelOnlyWebReservationRunner" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
